
* {
    box-sizing: border-box; 
}

@font-face { 
    font-family: "Young Serif"; 
    src: url(type/YoungSerif-Regular.woff2), url(type/YoungSerif-Regular.woff);
}


body {
    font-family: "Young Serif";
    font-size: 36px;
    line-height: 1.25; 

    background-color: white; 
    color: black;

    width: 100%;
}

header {
    position: fixed; 
    font-size: 14px;
    top: 36;
    left: 36;
    z-index: 1;
    
    display: flex; 
    justify-content: space-between;
    width: 100%;
    /* max-width: 100%; */
}

header a {
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
}


section {
    background-color: #fad9ce;
    color: #ff0000;
    min-height: 100vh;

    display: flex;
    justify-content: left;
    align-items: center;
}

h1.aylor {
    width: 800px;
    margin-left: 20px;
}

h1::selection {
    background-color: #def626;
}

p {
    font-size: 18px;
    color: black;
}

p::selection {
    background-color: #def626;
    color: black;
}


/* home page  */

section.container  {
    display: flex;
    width: 100%; 
}

div.left-half { 
    background-color: #c3a55c; 
    width: 50%;
    height: 100vh;
    overflow: hidden;
}

div.left-half h1 {
    color: black; 
    padding: 60px;
}

div.left-half a {
    text-decoration: none;
}

div.left-half img {
    min-height: 100%;
    min-width: 100%;
}


div.right-half { 
    background-color: #fbf591; 
    width: 50%;
    height: 100vh;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

div.left-half-2 {
    background-color:white; 
    width: 50%;
    height: 100vh;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* images has to fill but must be size of container */
div.left-half-2 img {
    min-height: 100%;
    min-width: 100%;
}

div.right-half-2 { 
    background-color: #f2ad78; 
    width: 50%;
    min-height: 100vh;
}

div.right-half-2 h1 {
    /* color: #dbdbdb; */
    color: black;
    padding: 60px;
}

div.right-half-2 a {
    text-decoration: none; 
    cursor: pointer;
}

section.s4 {
    background-color: #b4a671;
}

.img { 
    min-width: 100%; 
    min-height: 100%;
}


/* project pages  */

section.project-content {
    background-color: white;
    color: black;
    min-height: 100vh; 

    display: flex;
    justify-content: center;
    align-items: center;
}

section.project-content-info {
    background-color: white;
    flex-direction: column;
}

section.project-content-info h1{
    display: flex; 
    align-items: center;
    justify-content: center;
    
    color: black;
    font-size: 36px;

    margin-bottom: 40px;
}

div.buttons {
    display: flex; 
    align-items: center;
    justify-content: center;
}

p.demo {
    font-size: 18px;
    color: black;
    background-color:#99a92c;

    border: 1px solid black;
    padding: 5px;
    width: 100px;
    margin-right: 10px;

    display: flex; 
    align-items: center;
    justify-content: center;
}

p.repo {
    font-size: 18px;
    color: black;
    background-color:#99a92c;

    border: 1px solid black;
    padding: 5px;
    width: 100px;
    margin-left: 10px;

    display: flex; 
    align-items: center;
    justify-content: center;
}

section.project-content-info {
    display: flex; 
    align-items: center;
    justify-content: center;
}

section.project-content-info a {
    display: flex; 
    align-items: center;
    justify-content: center;

    font-size: 18px;
    text-decoration: none;
    color: black;
    cursor: pointer;

    padding: 10px;
    width: 125px;
}

section.project-content-info p {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.project-text {
    margin: 100px 10px 0 10px;
    width: 900px;
}


div.gif img {
    width: 100%;
    height: auto; 
}

div.dan-images {
    display: flex; 
    align-items: center;
    justify-content: center;

}

div.dan-images img {
    padding: 40px;
}

/* about page */

section.container-about {
    display: flex; 
    width: 100%; 
    background-color: white;
}

div.left-half-about {
    background-color: white;
    width: 50%;
    min-height: 100vh;

    display: flex; 
    align-items: center;
    justify-content: center;

}

div.left-half-about img {
    min-height: auto;
    min-width: 50%;
}

div.right-half-about {
    background-color: white;
    width: 50%;
    min-height: 100vh;
}

div.right-half-about h1 {
    display: flex; 
    align-items: center;
    justify-content: center;
    
    color: black; 
    font-size: 36px;  
}

div.about {
    display: flex; 
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 10px;
    /* margin: 0 40px 0 40px; */
}

div.about p {
    margin: 100px 10px 10px 10px;
    margin-top: 100px;
}


/* about skills */
div.skills {
    display: flex; 
    align-items: center;
    justify-content: center;
}

p.skillbox {
    font-size: 18px;
    color: black;

    border: 1px solid black;
    padding: 10px;
    width: 125px;
    margin-left: 20px;

    display: flex; 
    align-items: center;
    justify-content: center;
}

p.javascript {
    background-color:#99a92c;
}

p.react {
    background-color: #fdf1d9;
}

p.node {
    background-color: #efbab3;
}

p.sql {
    background-color:#9cb29e;
}

p.html {
    background-color: #fff59e;
}

p.css {
    background-color: #bae7dd;
}

p.git {
    background-color: #fe892a;
}

p.github {
    background-color: #c3a55c;
}

p.aws {
    background-color: #fc9965;
}

p.python {
    background-color: #be4624;
}

p.photo {
    
    background-color: #c4c5d4;

}

p.xd { 
    background-color: #ff616b;
}

p.sketch {
    background-color: #0057ba;
}

p.shopify {
    background-color: #ebd999;
}



/* about contact */

div.contact {
    display: flex; 
    align-items: center;
    justify-content: center;

    margin-bottom: 20px;
}

a.contactbox {
    font-size: 18px;
    color: black;

    border: 1px solid black;
    padding: 10px;
    margin-left: 20px;
    width: 125px;
    text-decoration: none;
    cursor: pointer;

    display: flex; 
    align-items: center;
    justify-content: center;

}
a.email {
    background-color: #c2975a;
}

a.github {
    background-color: #94ff94;
}

a.linkedin {
    background-color: #d1b0b3;
}

a.arena {
    background-color: #ffb852;
}


@media screen and (max-width: 768px) {


    section.container {
        display: flex;
        flex-direction: column;
    }

    div.aylor-textbox {
        display: flex; 
        margin: 300px 0 300px 20px;
    }

    h1.aylor {
        font-size: 36px;
        width: 100%;
        margin-left: 0px;
    }

    div.left-half {
        width: 100%;

        display: flex; 
        align-items: center; 
        justify-items: center;
    }

    div.left-half h1 {
        font-size: 48px;
        max-width: 100%;
    }

    div.right-half {
        width: 100%;
    }

    div.right-half img {
        width: 100%;
        height: auto;
    }

    section.dan-reads-marta-container {
        flex-direction: column-reverse;
    }

    div.left-half-2 {
        width: 100%;
    }

    div.right-half-2 {
        width: 100%;

        display: flex; 
        align-items: center; 
        justify-items: center;
    }
    
    div.right-half-2 h1 {
        font-size: 48px;
        max-width: 100%;
    }

    /* about page */

    section.container-about {
        display: flex;
        flex-direction: column;
    }

    div.left-half-about {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
    }

   
    div.left-half-about img {
        margin-top: 150px;
        
        width: 50%;
    }

    div.right-half-about {
        width: 100%;
    }

    div.about {
        max-width: 100%;
        /* margin-left: 10px; */
    }

    div.about p {
        width: 100%;
    }

    div.skills {
        width: 100%;
    }

    p.skillbox {
        font-size: 14px;
        width: 100px;
        margin-left: 10px;
        margin-right: 10px;
    }

    p.xd {
        font-size: 12px;
        height: 39px;
    }

    a.contactbox {
        font-size: 14px;
        width: 100px;
        margin-left: 10px;
        margin-right: 10px;
    }


    .project-text {
        width: 100%;
        padding: 10px;
}   

    div.dan-images {
        flex-direction: column;
        width: 100%;
    }

    div.dan-images img {
        display: flex;
        align-items: center; 
        justify-content: center;

        width: 100%;
        padding: 20px;

        margin-bottom: 20px;
    }


    div.gif img {
        padding: 10px; 
    }
    
    
}
    @media screen and (max-width: 375px) {
    
        p.skillbox {
            margin-left: 5px;
            margin-right: 5px;
        }
    
        div.left-half-about img {
            margin-top: 200px;
                
        }

        div.right-half img {
            width: 100%;
            height: auto;
        }
    
}