
* {
    box-sizing: border-box; 
}

@font-face { 
    font-family: "Young Serif"; 
    src: url(/assets/YoungSerif-Regular.woff2), url(/assets/YoungSerif-Regular.woff);
}


body {
    font-family: "Young Serif";
    font-size: 36px;
    line-height: 1.25; 

    background-color: white; 
    color: black;
}

header {
    position: fixed; 
    font-size: 14px;
    top: 36;
    left: 36;
    z-index: 1;
    
    display: flex; 
    justify-content: space-between;
    width: 100%;
}

header a {
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
}


section {
    background-color: #fad9ce;
    color: #ff0000;
    min-height: 100vh;
    padding: 80px;

    display: flex;
    justify-content: left;
    align-items: center;
}

/* section.s2 {
    background-color: #c3a55c;
    width: 100%;

} */

section.container  {
    display: table; 
    width: 100%; 
}

div.left-half { 
    background-color: #c3a55c; 
    position: absolute; 
    left: 0px;
    width: 50%;
    min-height: 100vh;
}

div.left-half h1 {
    color: black; 
}

div.right-half { 
    background-color: #c0b490; 
    position: absolute; 
    right: 0px;
    width: 50%;
    min-height: 100vh;

}

section.s3 {
    background-color: #f2ad78;
    min-height: 100vh;

}


section.s4 {
    background-color: #b4a671;

}